<div class="ch-facility">

    <div class="ch-facility__header ch-facility__header_has-subinfo">
        <div class="ch-facility__heading-subinfo" >
            <span class="ch-facility__heading-subinfo-prefix">{{agency.distance}}</span>
            <span class="ch-facility__heading-subinfo-ending">{{'global.miles' | translate}}</span>
        </div>
    </div>

    <div class="ch-facility__tags">
        <ul class="ch-facility-tags clearfix">
            <li class="ch-facility-tags__tag">
                <span class="ch-facilities-tag ch-facilities-tag_foster-family" translate="lookups.lookupProviderType.{{agency.providerType.code}}">{{agency.providerType.name}}</span>
            </li>
            <li class="ch-facility-tags__tag" ng-show="agency.qualityRating.name === 'Low'">
                <span class="ch-facilities-tag ch-facilities-tag_status_red" translate="lookups.lookupQualityRating.{{agency.qualityRating.code}}">{{agency.qualityRating.name}}</span>
            </li>
            <li class="ch-facility-tags__tag" ng-show="agency.qualityRating.name === 'Average'">
                <span class="ch-facilities-tag ch-facilities-tag_status_orange" translate="lookups.lookupQualityRating.{{agency.qualityRating.code}}">{{agency.qualityRating.name}}</span>
            </li>
            <li class="ch-facility-tags__tag" ng-show="agency.qualityRating.name === 'Good'">
                <span class="ch-facilities-tag ch-facilities-tag_status_green" translate="lookups.lookupQualityRating.{{agency.qualityRating.code}}">{{agency.qualityRating.name}}</span>
            </li>
            <li class="ch-facility-tags__tag" ng-show="agency.qualityRating.name === 'Very Good'">
                <span class="ch-facilities-tag ch-facilities-tag_status_green" translate="lookups.lookupQualityRating.{{agency.qualityRating.code}}">{{agency.qualityRating.name}}</span>
            </li>
            <li class="ch-facility-tags__tag" ng-show="agency.qualityRating.name === 'Excellent'">
                <span class="ch-facilities-tag ch-facilities-tag_status_green" translate="lookups.lookupQualityRating.{{agency.qualityRating.code}}">{{agency.qualityRating.name}}</span>
            </li>
            <li class="ch-facility-tags__tag" ng-show="agency.qualityRating.name === 'Not Rated'">
                <span class="ch-facilities-tag ch-facilities-tag_status_green" translate="lookups.lookupQualityRating.{{agency.qualityRating.code}}">{{agency.qualityRating.name}}</span>
            </li>
            <li class="ch-facility-tags__tag">
                <span class="ch-facilities-tag ch-facilities-tag_foster-family" ng-show="{{agency.totalSpots > 0}}" translate="facilities.freespots">FREE SPOTS</span>
            </li>
        </ul>
    </div>

    <div class="ch-facility__info" >

        <ul class="ch-facility-info">
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">
                    <p class="ch-facility-info__name">{{agency.providerName}}</p>
                    <p class="ch-facility-info__name" translate="lookups.lookupLicenseType.{{agency.licenseType.code}}">{{agency.licenseType.name}}</p>
                    <p class="ch-facility-info__phone">{{agency.phoneNumber}}</p>
                </div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">
                    <span class="ch-facility-info__address">{{agency.formattedAddress}}</span>
                </div>
            </li>
        </ul>

    </div>
    <div class="ch-facility__info" ng-show="viewConfig.presentation == 'popup' || agency.showPartFlag">
        <ul class="ch-facility-info">
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text" translate="facilities.spots" translate-values="{totalSpots: agency.totalSpots}">Spots:</div>
                <div ng-repeat="openSlot in agency.openSlots">
                    {{openSlot.ageGroup.name}} - {{openSlot.openSlots}} spots
                </div>
            </li>

            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Schedule:</div>
                <div ng-repeat="schedule in agency.schedules">
                    {{schedule.dayOfWeek.name}}: {{schedule.openHour}} - {{schedule.closeHour}}
                </div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Special Needs:</div>
                <div ng-repeat="specialNeed in agency.supportedSpecialNeeds">
                    - {{specialNeed.specialNeedType.name}}
                </div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">{{agency.length}} Substantiated Allegations:</div>
                <div ng-repeat="allegation in agency.substantiatedAllegations">
                    {{allegation.description}}
                    <div>{{allegation.allegationDate}} {{allegation.severity}}</div>
                </div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">License Type:</div>
                <div class="ch-facility-info-text">{{agency.licenseType.name}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Provider Capacity:</div>
                <div class="ch-facility-info-text">{{agency.providerCapacity}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Provider Description:</div>
                <div class="ch-facility-info-text">{{agency.description}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Number of Complains:</div>
                <div class="ch-facility-info-text">{{agency.numberOfComplains}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Number of Visits:</div>
                <div class="ch-facility-info-text">{{agency.numberOfVisits}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Date of Last Visit:</div>
                <div class="ch-facility-info-text">{{agency.lastVisit}}</div>
            </li>
            <li class="ch-facility-info__part">
                <div class="ch-facility-info-text">Supported Languages::</div>
                <div ng-repeat="supportedLanguage in agency.supportedLanguages">
                    - {{supportedLanguage.language.name}}
                </div>
            </li>
        </ul>
    </div>
    <div class="ch-facility__btn-group clearfix">
        <div class="ch-facilities-btn-group">
            <div class="ch-facilities-btn-group__btn" has-authority="FOSTER_PARENT">
                <button type="button" ng-click="askAbout(agency)" class="ch-plane-btn ch-plane-btn_primary"><span translate="facilities.askcaseworker">Ask Caseworker</span></button>
            </div>
            <div class="ch-facilities-btn-group__btn" ng-show="viewConfig.presentation !== 'popup' && !agency.showPartFlag" ng-click="agency.showPartFlag = !agency.showPartFlag">
                <button type="button" class="ch-plane-btn ch-plane-btn_secondary" ><span translate="global.showmore">Show more</span></button>
            </div>
            <div class="ch-facilities-btn-group__btn" ng-show="viewConfig.presentation !== 'popup' && agency.showPartFlag" ng-click="agency.showPartFlag = !agency.showPartFlag">
                <button type="button" class="ch-plane-btn ch-plane-btn_secondary" ><span translate="global.hidedetails">Hide details</span></button>
            </div>
        </div>
    </div>
</div>
