<style>
    /* https://github.com/tombatossals/angular-leaflet-directive/issues/130 */
    .leaflet-control-layers.leaflet-control {
        display: none;
    }
</style>
<div class="ch-layout__subheader">

    <div class="ch-facilities-heading__mobile__view">
        <div class="ch-mobile-mailbox__nav">

            <div class="ch-mobile-mailbox__nav-tab">
                <a href="" class="ch-mobile-mailbox__nav-tab__link ch-mobile-mailbox__nav-tab__link_active"
                           ng-class="showLinkMapView" ng-click="changeMapView()">
                    <span class="ch-mobile-mailbox__nav-tab__text"><span translate="facilities.map-view">Map View</span></span>
                </a>
            </div>

            <div class="ch-mobile-mailbox__nav-tab">
                <a href="" class="ch-mobile-mailbox__nav-tab__link"
                   ng-class="showLinkListView" ng-click="changeListView()">
                    <span class="ch-mobile-mailbox__nav-tab__text"><span translate="facilities.list-view">List View</span></span>
                </a>
            </div>

            <div class="ch-mobile-mailbox__nav-tab">
                <a href="" class="ch-mobile-mailbox__nav-tab__link"
                   ng-class="showLinkFilterView" ng-click="changeFilterView()">
                    <span class="ch-mobile-mailbox__nav-tab__text"><span translate="facilities.filters">Filters</span></span>
                </a>
            </div>
        </div>
    </div>

    <section class="ch-facilities-heading" ng-class="mobileFilterState">
        <div class="ch-facilities-heading__row">
            <div class="ch-facilities-heading__item ch-facilities-heading__item_2 ch-facilities-heading__input__item_1">
                <div class="ch-input-block">
                    <div class="ch-input-block__form-input ch-input-block__form-input_search-field-map ch-input-block__form-input_icon_left">
                        <div id="geocoder" title="{{'facilities.put-address-where-you-want-to-search' | translate}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ch-facilities-heading__item ch-facilities-heading__item_2 ch-facilities-heading__input__item_2">
                <div class="ch-input-block" title="{{'facilities.put-any-available-information' | translate}}">
                    <div class="ch-input-block__form-input ch-input-block__form-input_icon ch-input-block__form-input_icon_left">
                        <span class="ch-form-input-icon ch-form-input-icon_left ch-form-input-icon_search"></span>
                        <input type="search" ng-model="text" ng-keypress="findAgenciesByTextQuery($event);" name="search-text" id="search-text" class="ch-form-input ch-form-input_small ch-form-input_search" placeholder="{{'facilities.put-facility-data-here' | translate}}" />
                    </div>
                </div>
            </div>
            <div class="ch-facilities-heading__item ch-facilities-heading__item_1 ch-facilities-heading__input__item_3">
                <div class="ch-multi-select-dropdown" title="{{'facilities.age-group' | translate}}">
                    <button type="button" class="ch-multi-select-dropdown__btn" ng-click="toggleFilterMenu('lookupAgeGroups');">
                        <span class="ch-multi-select-dropdown__btn-text"
                              ng-if="filterMenuConfigs['lookupAgeGroups'].selectedCount == 0"
                              translate="facilities.age-group">
                            Age group
                        </span>
                        <span class="ch-multi-select-dropdown__btn-text"
                              ng-if="filterMenuConfigs['lookupAgeGroups'].selectedCount > 0"
                              translate="global.form.filters-selected"
                              translate-values="{selectedCount: filterMenuConfigs['lookupAgeGroups'].selectedCount}">
                            {{filterMenuConfigs['lookupAgeGroups'].selectedCount}} Selected
                        </span>
                        <span class="ch-multi-select-dropdown__btn-icon"></span>
                    </button>
                    <div class="ch-multi-select-dropdown__popup" ng-show="filterMenuConfigs['lookupAgeGroups'].showList" ng-mouseleave="toggleFilterMenu('lookupAgeGroups', false);">
                        <ul class="ch-checkboxes-list">
                            <li class="ch-checkboxes-list__item" ng-repeat="ageGroup in lookupAgeGroups">
                                <div class="form-type__checkbox_empty-label">
                                    <input id="lookupAgeGroup_{{ageGroup.code}}" type="checkbox"
                                           ng-model="ageGroup.selected"
                                           ng-click="onFilterMenuItemClick('lookupAgeGroups', ageGroup.code);">
                                    <label for="lookupAgeGroup_{{ageGroup.code}}">{{'lookups.lookupAgeGroups.' + ageGroup.code | translate}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ch-facilities-heading__item ch-facilities-heading__item_1 ch-facilities-heading__input__item_4">
                <div class="ch-multi-select-dropdown" title="{{'facilities.filter-by-status' | translate}}">
                    <button type="button" class="ch-multi-select-dropdown__btn" ng-click="toggleFilterMenu('lookupQualityRating');">
                        <span class="ch-multi-select-dropdown__btn-text"
                              ng-if="filterMenuConfigs['lookupQualityRating'].selectedCount == 0"
                              translate="facilities.all-quality-ratings">
                            All Quality Ratings
                        </span>
                        <span class="ch-multi-select-dropdown__btn-text"
                              ng-if="filterMenuConfigs['lookupQualityRating'].selectedCount > 0"
                              translate="global.form.filters-selected"
                              translate-values="{selectedCount: filterMenuConfigs['lookupQualityRating'].selectedCount}">
                            {{filterMenuConfigs['lookupQualityRating'].selectedCount}} Selected
                        </span>
                        <span class="ch-multi-select-dropdown__btn-icon"></span>
                    </button>
                    <div class="ch-multi-select-dropdown__popup" ng-show="filterMenuConfigs['lookupQualityRating'].showList" ng-mouseleave="toggleFilterMenu('lookupQualityRating', false);">
                        <ul class="ch-checkboxes-list">
                            <li class="ch-checkboxes-list__item" ng-repeat="qualityRating in lookupQualityRating track by qualityRating.id | orderBy: 'id'">
                                <div class="form-type__checkbox_empty-label">
                                    <input id="qualityRating_{{qualityRating.code}}" type="checkbox"
                                           ng-model="qualityRating.selected"
                                           ng-click="onFilterMenuItemClick('lookupQualityRating', qualityRating.code);">
                                    <label for="qualityRating_{{qualityRating.code}}">{{'lookups.lookupQualityRating.' + qualityRating.code | translate | capitalize:true}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ch-facilities-heading__item ch-facilities-heading__item_1 ch-facilities-heading__input__item_4">
                <button class="ch-option-btn ch-ink-btn"
                        type="button" ng-click="showAllFilters()"
                        translate="{{hideExtendedFiltersButtonTitle}}"></button>
            </div>
        </div>
    </section>

    <section class="ch-facilities-extended-filters" ng-class="mobileFilterState">

        <div class="ch-facilities-extended-filters__popup ng-hide" ng-hide="hideExtendedFilters">
            <div class="ch-facilities-extended-filters__section">

                <ul class="ch-facilities-extended-filters__item ch-checkboxes-group">
                    <li class="ch-checkboxes-group__header">
                        <span translate="facilities.working-hours">Working hours</span>
                    </li>

                    <li class="ch-checkboxes-group__item" ng-repeat="workingHours in lookupWorkingHours">
                        <div class="form-type__checkbox_empty-label">
                            <input id="workingHours_{{workingHours.code}}" type="checkbox"
                                   ng-model="workingHours.selected"
                                   ng-click="onFilterMenuItemClick('lookupWorkingHours', workingHours.code);">
                            <label for="workingHours_{{workingHours.code}}">{{'lookups.lookupWorkingHours.' + workingHours.code | translate}}</label>
                        </div>
                    </li>
                </ul>

                <ul class="ch-facilities-extended-filters__item ch-checkboxes-group"
                    ng-if="filterMenuConfigs['lookupAgeGroups'].selectedCount > 0">
                    <li class="ch-checkboxes-group__header">
                        <span translate="facilities.available-spots">Available Spots</span>
                    </li>

                    <li class="ch-checkboxes-group__item"
                        ng-repeat="ageGroup in lookupAgeGroups"
                        ng-if="isSelected('lookupAgeGroups', ageGroup.code);">
                        <div class="ch-facilities-extended-text-input">
                            <input id="spots_ageGroup_{{ageGroup.code}}" type="input"
                                   ng-model="ageGroup.availableSpots" ng-change="invalidate();">
                            <label for="spots_ageGroup_{{ageGroup.code}}">
                                {{'lookups.lookupAgeGroups.' + ageGroup.code | translate}}
                            </label>
                        </div>
                    </li>
                </ul>

                <ul class="ch-facilities-extended-filters__item ch-checkboxes-group">
                    <li class="ch-checkboxes-group__header">
                        <span translate="facilities.provider-type">Provider Type</span>:
                    </li>

                    <li class="ch-checkboxes-group__item" ng-repeat="providerType in lookupProviderType track by providerType.id | orderBy: 'id'">
                        <div class="form-type__checkbox_empty-label">
                            <input id="providerType_{{providerType.code}}" type="checkbox"
                                   ng-model="providerType.selected"
                                   ng-click="onFilterMenuItemClick('lookupProviderType', providerType.code);">
                            <label for="providerType_{{providerType.code}}">{{'lookups.lookupProviderType.' + providerType.code | translate | capitalize:true}}</label>
                        </div>
                    </li>
                </ul>

                <ul class="ch-facilities-extended-filters__item ch-checkboxes-group">
                    <li class="ch-checkboxes-group__header">
                        <span translate="facilities.price-per-week">Price (per week)</span>
                    </li>

                    <li class="ch-checkboxes-group__item"
                        ng-repeat="priceRange in lookupWeeklyPriceRanges track by priceRange.id | orderBy: 'id'">
                        <div class="form-type__checkbox_empty-label">
                            <input id="priceRange_{{priceRange.code}}" type="checkbox"
                                   ng-model="priceRange.selected"
                                   ng-click="onFilterMenuItemClick('lookupWeeklyPriceRanges', priceRange.code);">
                            <label for="priceRange_{{priceRange.code}}">{{'lookups.lookupWeeklyPriceRanges.' + priceRange.code | translate}}</label>
                        </div>
                    </li>
                </ul>

                <ul class="ch-facilities-extended-filters__item ch-checkboxes-group" has-any-authority="PARENT, FOSTER_PARENT, CASE_WORKER">
                    <li class="ch-checkboxes-group__header">
                        <span translate="facilities.no-problems">Additional</span>
                    </li>

                    <li class="ch-checkboxes-group__item"
                        ng-repeat="compl in filterComplainsAndAllegations track by compl.id | orderBy: 'id'">

                        <div class="form-type__checkbox_empty-label">
                            <input id="compl_{{compl.code}}" type="checkbox"
                                   ng-model="compl.selected"
                                   ng-click="onFilterMenuItemClick('filterComplainsAndAllegations', compl.code);">
                            <label for="compl_{{compl.code}}">{{'lookups.filterComplainsAndAllegations.' + compl.code | translate}}</label>
                        </div>
                    </li>

                    <li class="ch-checkboxes-group__item ch-checkboxes-group">
                        <li class="ch-checkboxes-group__header">
                            <span translate="facilities.languages">Languages</span>
                        </li>

                        <li class="ch-checkboxes-group__item"
                            ng-repeat="lang in lookupLanguage track by lang.id | orderBy: 'id'">

                            <div class="form-type__checkbox_empty-label">
                                <input id="lang_{{lang.code}}" type="checkbox"
                                       ng-model="lang.selected"
                                       ng-click="onFilterMenuItemClick('lookupLanguage', lang.code);">
                                <label for="lang_{{lang.code}}">
                                    {{'lookups.lookupLanguage.' + lang.code | translate}}
                                </label>
                            </div>
                        </li>
                    </li>
                </ul>

                <ul class="ch-facilities-extended-filters__item ch-checkboxes-group" has-any-authority="PARENT, FOSTER_PARENT, CASE_WORKER">
                    <li class="ch-checkboxes-group__header">
                        <span translate="facilities.license-type">License Type</span>:
                    </li>

                    <li class="ch-checkboxes-group__item" ng-repeat="licenseType in lookupLicenseType track by licenseType.id | orderBy: 'id'">
                        <div class="form-type__checkbox_empty-label">
                            <input id="licenseType_{{licenseType.code}}" type="checkbox"
                                   ng-model="licenseType.selected"
                                   ng-click="onFilterMenuItemClick('lookupLicenseType', licenseType.code);">
                            <label for="licenseType_{{licenseType.code}}">{{'lookups.lookupLicenseType.' + licenseType.code | translate | capitalize:true}}</label>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="ch-facilities-extended-filters__section">

                <ul class="ch-facilities-extended-filters__item ch-checkboxes-group"
                    ng-repeat="specialNeedGroup in lookupSpecialNeedGroup track by specialNeedGroup.id | orderBy: 'id'">

                    <li class="ch-checkboxes-group__header">
                        <span>{{'lookups.lookupSpecialNeedGroup.' + specialNeedGroup.code | translate}}</span>
                    </li>

                    <li class="ch-checkboxes-group__item"
                        ng-repeat="specialNeedType in lookupSpecialNeedType track by specialNeedType.id | orderBy: 'id'">

                        <div class="form-type__checkbox_empty-label" ng-if="specialNeedType.specialNeedGroup.code == specialNeedGroup.code">
                            <input id="specialNeedType_{{specialNeedType.code}}" type="checkbox"
                                   ng-model="specialNeedType.selected"
                                   ng-click="onFilterMenuItemClick('lookupSpecialNeedType', specialNeedType.code);">
                            <label for="specialNeedType_{{specialNeedType.code}}">{{'lookups.lookupSpecialNeedType.' + specialNeedType.code | translate}}</label>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <div class="ch-facilities-extended-filters__results">
            <span class="ch-facilities-extended-filters__results-total"
                  translate="facilities.total-results"
                  translate-values="{number: agenciesLength}">{{agenciesLength}} Results</span>

            <div class="ch-facilities-extended-filters__results-filters">
                <div class="ch-meta-tag" ng-repeat="value in selectedFilterButtons">
                    <span class="ch-meta-tag__text">{{'lookups.' + value.modelName + '.' + value.code | translate}}</span>
                    <button type="button" class="ch-meta-tag__dismiss-btn"
                            ng-click="dismissFilterClick(value.modelName, value.code);"></button>
                </div>
            </div>

            <a href="" class="ch-facilities-extended-filters__results-reset" ng-click="resetFilters(); inkRipple()"
               ng-init="inkRipple();" translate="facilities.reset-filters">
                <span>Reset Filters</span>
            </a>
        </div>
  </section>
</div>

<div class="ch-mobile-facilities__map-view" ng-class="showListView">
  <div class="ch-layout__aside ch-layout__aside_facilities" ui-view="aside" ng-class="showListView"></div>
</div>

<div class="ch-mobile-facilities__list-view" ng-class="showMapView">
  <div class = "ch-layout__content ch-layout__content_facilities" ng-class="{ 'ch-layout__content_fullwidth' : isContentFullWidth }" ui-view="main">
      <div>
          <leaflet defaults="defaults" lf-center="center" markers="locations" style="{{returnMapHeight()}} ; position: relative" layers="layers"></leaflet>
      </div>
  </div>
</div>

<div style="display: none">
  <img src="assets/images/green_star.png" id="icon_pin_green_not_rated"/>
  <img src="assets/images/green_1star.png" id="icon_pin_green_1star"/>
  <img src="assets/images/green_2star.png" id="icon_pin_green_2star"/>
  <img src="assets/images/green_3star.png" id="icon_pin_green_3star"/>
  <img src="assets/images/green_4star.png" id="icon_pin_green_4star"/>
  <img src="assets/images/green_5star.png" id="icon_pin_green_5star"/>
  <img src="assets/images/grey_star.png" id="icon_pin_grey_not_rated"/>
  <img src="assets/images/grey_1star.png" id="icon_pin_grey_1star"/>
  <img src="assets/images/grey_2star.png" id="icon_pin_grey_2star"/>
  <img src="assets/images/grey_3star.png" id="icon_pin_grey_3star"/>
  <img src="assets/images/grey_4star.png" id="icon_pin_grey_4star"/>
  <img src="assets/images/grey_5star.png" id="icon_pin_grey_5star"/>
  <img src="assets/images/icon_pin_home.png" id="icon_pin_home"/>
</div>
