
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPriceLabel" translate="msapApp.price.home.createOrEditLabel">Create or edit a Price</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="price.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.price.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="price.price"
                     />
        </div>

        <div class="form-group">
            <label translate="msapApp.price.provider" for="field_provider">provider</label>
            <select class="form-control" id="field_provider" name="provider" ng-model="price.provider" ng-options="provider as provider.id for provider in providers track by provider.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="msapApp.price.ageGroup" for="field_ageGroup">ageGroup</label>
            <select class="form-control" id="field_ageGroup" name="ageGroup" ng-model="price.ageGroup" ng-options="lookupAgeGroups as lookupAgeGroups.id for lookupAgeGroups in agegroups | orderBy:'id' track by lookupAgeGroups.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
