
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProviderLabel" translate="msapApp.provider.home.createOrEditLabel">Create or edit a Provider</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="provider.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.providerCapacity" for="field_providerCapacity">ProviderCapacity</label>
            <input type="number" class="form-control" name="providerCapacity" id="field_providerCapacity"
                    ng-model="provider.providerCapacity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.providerName" for="field_providerName">ProviderName</label>
            <input type="text" class="form-control" name="providerName" id="field_providerName"
                    ng-model="provider.providerName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.phoneNumber" for="field_phoneNumber">PhoneNumber</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="provider.phoneNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.isOpenOvernight" for="field_isOpenOvernight">IsOpenOvernight</label>
            <input type="checkbox" class="form-control" name="isOpenOvernight" id="field_isOpenOvernight"
                    ng-model="provider.isOpenOvernight"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.numberOfComplains" for="field_numberOfComplains">NumberOfComplains</label>
            <input type="number" class="form-control" name="numberOfComplains" id="field_numberOfComplains"
                    ng-model="provider.numberOfComplains"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.numberOfVisits" for="field_numberOfVisits">NumberOfVisits</label>
            <input type="number" class="form-control" name="numberOfVisits" id="field_numberOfVisits"
                    ng-model="provider.numberOfVisits"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.lastVisit" for="field_lastVisit">LastVisit</label>
            <input id="field_lastVisit" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="provider.lastVisit" is-open="datePickerForLastVisit.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLastVisitOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="provider.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.isFullDay" for="field_isFullDay">IsFullDay</label>
            <input type="checkbox" class="form-control" name="isFullDay" id="field_isFullDay"
                    ng-model="provider.isFullDay"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.isAfterSchool" for="field_isAfterSchool">IsAfterSchool</label>
            <input type="checkbox" class="form-control" name="isAfterSchool" id="field_isAfterSchool"
                    ng-model="provider.isAfterSchool"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.isBeforeSchool" for="field_isBeforeSchool">IsBeforeSchool</label>
            <input type="checkbox" class="form-control" name="isBeforeSchool" id="field_isBeforeSchool"
                    ng-model="provider.isBeforeSchool"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.isWeekendCare" for="field_isWeekendCare">IsWeekendCare</label>
            <input type="checkbox" class="form-control" name="isWeekendCare" id="field_isWeekendCare"
                    ng-model="provider.isWeekendCare"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.isRespiteCare" for="field_isRespiteCare">IsRespiteCare</label>
            <input type="checkbox" class="form-control" name="isRespiteCare" id="field_isRespiteCare"
                    ng-model="provider.isRespiteCare"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.provider.isSecondShift" for="field_isSecondShift">IsSecondShift</label>
            <input type="checkbox" class="form-control" name="isSecondShift" id="field_isSecondShift"
                    ng-model="provider.isSecondShift"
                     />
        </div>

        <div class="form-group">
            <label translate="msapApp.provider.licenseType" for="field_licenseType">licenseType</label>
            <select class="form-control" id="field_licenseType" name="licenseType" ng-model="provider.licenseType" ng-options="lookupLicenseType as lookupLicenseType.id for lookupLicenseType in licensetypes | orderBy:'id' track by lookupLicenseType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="msapApp.provider.providerType" for="field_providerType">providerType</label>
            <select class="form-control" id="field_providerType" name="providerType" ng-model="provider.providerType" ng-options="lookupProviderType as lookupProviderType.id for lookupProviderType in providertypes | orderBy:'id' track by lookupProviderType.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="msapApp.provider.address" for="field_address">address</label>
            <select class="form-control" id="field_address" name="address" ng-model="provider.address" ng-options="place as place.id for place in addresss | orderBy:'id' track by place.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="msapApp.provider.qualityRating" for="field_qualityRating">qualityRating</label>
            <select class="form-control" id="field_qualityRating" name="qualityRating" ng-model="provider.qualityRating" ng-options="lookupQualityRating as lookupQualityRating.id for lookupQualityRating in qualityratings | orderBy:'id' track by lookupQualityRating.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
