.ch-facilities__item {
    padding: 1.2rem 1rem 1.5rem 2.5rem;
    border-bottom: .1rem solid #cbcdcf;
    border-top: none;
    background-color: #f1f1f1;
}

.ch-facilities__header {
    @include clearfix();

    .ch-facilities__quality-rating {
        width: 75px;
        height: 20px;
        display: inline-block;
        margin-right: 5px;

        &--0 {
            background:
                url("../images/star_empty.svg") no-repeat 0 3px,
                url("../images/star_empty.svg") no-repeat 15px 3px,
                url("../images/star_empty.svg") no-repeat 30px 3px,
                url("../images/star_empty.svg") no-repeat 45px 3px,
                url("../images/star_empty.svg") no-repeat 60px 3px;
        }

        &--1 {
            background:
                url("../images/star_full.svg") no-repeat 0 3px,
                url("../images/star_empty.svg") no-repeat 15px 3px,
                url("../images/star_empty.svg") no-repeat 30px 3px,
                url("../images/star_empty.svg") no-repeat 45px 3px,
                url("../images/star_empty.svg") no-repeat 60px 3px;
        }

        &--2 {
            background:
                url("../images/star_full.svg") no-repeat 0 3px,
                url("../images/star_full.svg") no-repeat 15px 3px,
                url("../images/star_empty.svg") no-repeat 30px 3px,
                url("../images/star_empty.svg") no-repeat 45px 3px,
                url("../images/star_empty.svg") no-repeat 60px 3px;

        }

        &--3 {
            background:
                url("../images/star_full.svg") no-repeat 0 3px,
                url("../images/star_full.svg") no-repeat 15px 3px,
                url("../images/star_full.svg") no-repeat 30px 3px,
                url("../images/star_empty.svg") no-repeat 45px 3px,
                url("../images/star_empty.svg") no-repeat 60px 3px;
        }

        &--4 {
            background:
                url("../images/star_full.svg") no-repeat 0 3px,
                url("../images/star_full.svg") no-repeat 15px 3px,
                url("../images/star_full.svg") no-repeat 30px 3px,
                url("../images/star_full.svg") no-repeat 45px 3px,
                url("../images/star_empty.svg") no-repeat 60px 3px;
        }

        &--5 {
            background:
                url("../images/star_full.svg") no-repeat 0 3px,
                url("../images/star_full.svg") no-repeat 15px 3px,
                url("../images/star_full.svg") no-repeat 30px 3px,
                url("../images/star_full.svg") no-repeat 45px 3px,
                url("../images/star_full.svg") no-repeat 60px 3px;
        }
    }

    .ch-facilities__free-spots {
        vertical-align: top;
        text-transform: uppercase;

        &--green {
            color: $primary-green-color;
        }
    }

    .ch-facilities__distance {
        float: right;
        vertical-align: top;
        text-transform: uppercase;
        * {
            vertical-align: top;
        }
    }
}

.ch-facilities__provider-name {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ch-facilities__provider-type {
    color: white;
    margin-top: 5px;
    font-weight: bold;
    display: inline-block;
    background: $primary-color-blue;
    padding: 0.2rem 1rem 0.3rem 1rem;
    text-transform: uppercase;
    border-radius: 2em;
}

.ch-facilities__provider-address {
    margin-top: 15px;
    padding-left: 25px;
    position: relative;
    text-transform: uppercase;

    &::before {
        -webkit-mask: url("../../assets/images/out-sprite-icons/icon-map-input.svg") no-repeat center;
        mask: url("../../assets/images/out-sprite-icons/icon-map-input.svg") no-repeat center;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $secondary-color-ultra-light;
        display: inline-block;
        position: absolute;
        content: '';
        height: 2rem;
        width: 1.6rem;
        left: -.2rem;
        top: .2rem;
    }
}

.ch-facilities__provider-phone {
    margin-top: 10px;
    padding-left: 25px;
    position: relative;
    text-transform: uppercase;

    &::before {
        -webkit-mask: url("../../assets/images/out-sprite-icons/icon-phone.svg") no-repeat center;
        mask: url("../../assets/images/out-sprite-icons/icon-phone.svg") no-repeat center;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $secondary-color-ultra-light;
        display: inline-block;
        position: absolute;
        content: '';
        height: 1.6rem;
        width: 1.6rem;
        left: 0;
        top: .2rem;
    }
}

.ch-facilities__button-group {
    margin-top: 15px;

    .ch-facilities__button-primary {
        color: black !important;
    }

    .ch-facilities__button-secondary {
        position: relative;

        &::after {
            background: url("../images/arrow_down.svg") no-repeat 0 0;
            display: inline-block;
            position: absolute;
            content: '';
            height: 20px;
            width: 20px;
            right: -15px;
            top: 15px;
        }
    }
}

.ch-facilities__more-info {

    .ch-facilities__more-info-block {
        margin-top: 15px;

        &--one-line {
            > * {
                display: inline-block;
            }

            .ch-facilities__more-info-block-text {
                padding-left: 5px;
            }
        }
    }

    .ch-facilities__more-info-block-header {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .ch-facilities__more-info-block-text {
        padding-left: 25px;
    }
}


.ch-aside-facilities {
    width: 30rem;
    height: calc(100vh - 14.8rem);
    overflow: auto;
}

.ch-aside-facilities-ear {
    position: absolute;
    top: 37%;
    right: -2.6rem;
    width: 2.6rem;
    height: 5rem;
    background: #fff;
    border: .1rem solid #cbcdcf;
    box-shadow: 1px 0 1px #cbcdcf;
    padding: 14px 5px;

    .icon {
        width: 1.3rem;
        height: 1.7rem;
    }
}

.ch-facilities__sort-by {
    overflow: hidden;
    position: relative;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
    border-bottom: .1rem solid #cbcdcf;

    .ch-facilities__sort-by-label {
        text-transform: uppercase;
    }

    .ch-facilities__sort-by-menu {
        margin-left: 10px;
        display: inline-block;
        height: 130px;
        transition-property: height;
        transition-duration: 0.2s;
    }

    .ch-facilities__sort-by-menu.ng-hide {
        display: inline-block !important;
        transition-property: height;
        transition-duration: 0.2s;
        height: 20px;
    }

    .ch-facilities__sort-by-menu-selected {
        text-decoration: underline;
        position: relative;

        &::after {
            background: url("../images/arrow_down.svg") no-repeat 0 0;
            display: inline-block;
            position: absolute;
            content: '';
            height: 20px;
            width: 20px;
            right: -25px;
            top: 6px;
        }
    }

    .ch-facilities__sort-by-menu-popup {
        position: absolute;

        li:first-child {
            margin-top: 10px;
        }

        li {
            margin-top: 5px;
        }

        li:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
