.ch-checkboxes-group {
    list-style: none;
}

.ch-checkboxes-group__header {
    margin-top: 0;
    margin-left: 0;
}

.ch-checkboxes-group__item {
    display: block;
    margin-top: 15px;
    margin-left: 30px;
}
