.ch-header {
    width: 100%;
    background: $primary-color-grey-light;
    height: 7.3rem;
}

.ch-header__section {
    height: 100%;
}

.ch-header__section_logo {
    float: left;
    padding: 1rem 6.2rem 0 2.7rem;
    width: 21rem;

    @media screen and (max-width: $break-phone) {
        padding: 1.2rem 6.2rem 0 2.7rem;
    }
}

.ch-logo__img {
    @media screen and (max-width: $break-phone) {
        height: 2.5rem;
    }
}

.ch-header__section_control-pane {
    margin-left: 21rem;
}

.ch-header__subsection {
    display: inline-block;
}

.ch-user-account-entry__dropdown.ch-user-account-entry__profile {
    position: relative;
    top: -.7rem;

    @media screen and (max-width: $break-phone) {
        display: none;
    }
}

.ch-header__subsection-user-account {
    float: right;
    padding: 2.6rem 2.5rem 0 0;

    @media screen and (max-width: $break-phone) {
        float: none;
        padding: 1.6rem 2.5rem 0 0;
    }
}

.ch-user-account-entry {
    position: relative;
}

.ch-header__menu-mobile {
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 1000;

    .icon {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        background-size: cover;
    }
}

.ch-header__menu-mobile__btn {
    margin-top: -1rem;
    margin-right: 1rem;
    background: transparent;
    display: none;
    position: relative;
    z-index: 10002;

    @media screen and (max-width: $break-phone) {
        display: inline-block;
    }
}

.icon.icon-menu-close {
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    position: relative;
    top: -.1rem;
}

.ch-user-account-entry__language-globe:before {
    content: " ";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    top: .2rem;
    left: -1rem;
    background: url("../images/us-icon/icon-globe.png") no-repeat center;
}

.ch-user-account-entry__dropdown-btn_collapsed:after,
.ch-user-account-entry__dropdown-btn_expanded:after {
    content: '\0020';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.ch-user-account-entry__dropdown-btn_collapsed:after {
    border-top: 4px solid #fff;
    vertical-align: 3px;
}

.icon-user-account.ch-user-account-entry__dropdown-btn_collapsed:after,
.icon-user-account.ch-user-account-entry__dropdown-btn_expanded:after {
    vertical-align: 10px;
}

.ch-user-account-entry__dropdown-btn_expanded:after {
    border-bottom: 4px solid #fff;
    vertical-align: 3px;
}

.ch-user-account-entry__popup:before,
.ch-login-language__popup:before {
    content: '\0020';
    width: 0;
    height: 0;
    position: absolute;
    top: -1rem;
    right: 2rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.ch-user-account-entry__popup {
    background: #fff;
    box-shadow: 0 1px 1px #cbcdcf;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 15rem;
    position: absolute;
    top: 4rem;
    right: -2rem;
    z-index: 10000;
}

.ch-login-language__popup {
    background: #fff;
    box-shadow: 0 1px 1px #cbcdcf;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 15rem;
    position: absolute;
    top: 4rem;
    right: 21.2rem;
    z-index: 10000;

    @media screen and (max-width: $break-phone) {
        right: 1.1rem;
    }
}

.ch-header__subsection-language {
    .ch-user-account-entry__popup {
        @media screen and (max-width: $break-phone) {
            right: auto;
            left: -7rem;
        }
    }
}

.ch-user-account-popup__icon {
    float: left;
}

.ch-user-account-popup__user-name,
.ch-user-account-popup__user-email {
    padding-left: 6rem;
}

.ch-user-account-popup__user-name {
    font-size: 1.8rem;
    font-weight: 400;
    color: #313135;
}

.ch-user-account-popup__user-email {
    font-size: 1.4rem;
    color: #5b616b;
}

.ch-login-language__popup__info,
.ch-user-account-popup__info {
    padding: 1rem 3rem;

    &:hover {
        background-color: #d4e4ec;
    }
}

.ch-user-account-popup__controls {
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.ch-user-account-popup__profile-btn {
    display: inline-block;
    margin-right: 2.5rem;
}

.ch-user-account-popup__exit-btn {
    display: inline-block;
    margin: 0;
}

.ch-user-account-entry__popup-bg,
.ch-login-language__popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: default;
}

.ch-plane-btn__icon {
    vertical-align: middle;
    margin-right: .6rem;
}

.ch-header__subsection-language {
    float: right;
    padding: 2.2rem 2.2rem 0 0;

    @media screen and (max-width: 700px) {
        float: none;
        position: relative;
        right: -1rem;
        padding: 2.2rem 0 0 0;
    }

    @media screen and (max-width: $break-phone) {
        position: absolute;
        left: 11rem;
        right: auto;
        padding: 1.4rem 0 0 0;
    }
}

.ch-language-popup__entry_active {
    font-size: 1.6rem;
    font-weight: 600;
    color: #313135;
    background-color: #d4e4ec;

    @media screen and (max-width: $break-phone) {
        font-size: 2rem;
    }
}

.ch-language-popup__entry {
    font-size: 1.6rem;
    font-weight: 400;
    color: #818185;
}
