.ch-input-block__form-input_search-field-map {
    .leaflet-pelias-results.leaflet-bar {
        top: 100%;
        border: 1px solid #5b616b;
        margin: -9px 0px;

        @media screen and (max-width: $break-phone) {
            position: absolute;
            z-index: 10000;
            top: 6.5rem;
        }
    }

    .leaflet-bar {
        box-shadow: none;
        border-radius: 0;
        z-index: 800;
    }

    .leaflet-pelias-expanded {
        width: 100% !important;

        @media screen and (max-width: $break-phone) {
            width: calc(100vw - 3.5rem) !important;
        }

        .leaflet-pelias-input {
            height: auto;
            padding-top: .7rem;
            padding-bottom: .7rem;
            padding-left: 3.5rem;
            line-height: inherit;
            font-size: 1.4rem;
            font-weight: 600;
            cursor: text;

            @media screen and (max-width: $break-phone) {
                height: 4.5rem;
                padding-left: 3.5rem;
            }
        }

        .leaflet-pelias-close {
            border-radius: 0;
            margin-top: 0;
            margin-right: 0;
            height: 32px;
            top: .1rem;
            right: .2rem;
        }
    }

    .leaflet-pelias-input {
        border: 1px solid #5b616b;
        border-radius: 0;
        margin: 0;
    }

    .leaflet-bar a.leaflet-pelias-search-icon {
        position: relative;
        border-radius: 0;
        margin-top: .1rem;
        width: 1.6rem;
        height: 1.8rem;
        top: .8rem;
        left: 1rem;
        margin-left: .2rem;
        background: url("../../assets/images/out-sprite-icons/icon-map-input.svg") no-repeat center;

        @media screen and (max-width: $break-phone) {
            top: .5rem;
        }
    }
}

.ch-modal__row {
    .leaflet-bar a.leaflet-pelias-search-icon {

        @media screen and (max-width: $break-phone) {
            top: 1rem;
            left: 1rem;
            width: 2rem;
            height: 2.2rem;
        }

    }
}

.ch-mobile-facilities__list-view {
    .leaflet-top,
    .leaflet-bottom {
        z-index: 999;
    }
}
