.ch-meta-tag {
    display: inline-block;
    background: #595c65;
    padding: 0.2rem .9rem 0.3rem 1.0rem;
    border-radius: 2em;

    .ch-meta-tag__text {
        display: inline-block;
        padding-right: 4px;
        color: #fff;
    }

    .ch-meta-tag__dismiss-btn {
        display: inline-block;
        margin: 0;
        width: .7rem;
        height: .7rem;
        border: none;
        background: url("../images/us-icon/icon-close-filter-tag.svg") no-repeat center;
        background-size: cover;
        padding: .5rem;
        position: relative;
        top: -.4rem;
    }
}
