.modal-facilities-default-address {
    width: 38.5rem;

    @media screen and (max-width: $break-phone) {
        width: 34rem;
    }
}

.modal-privacy-policy {
    width: 38.5rem;
}

.ch-general-modal {
    .modal-dialog {
        margin: 25rem auto;

        @media screen and (max-width: $break-phone) {
            margin: 10rem auto;
        }
    }

    .modal-content {
        border-radius: 0;
    }
}

.modal-dialog.modal-sign-in {
    @media screen and (max-width: $break-phone) {
        width: 48rem;
    }
}

.ch-modal__header,
.ch-modal__body,
.ch-modal__footer {
    padding: 0 5rem;

    @media screen and (max-width: $break-phone) {
        padding: 0 2.5rem;
    }
}

.ch-modal__footer {
    padding-bottom: 3rem;
}

.ch-modal__close-btn {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: -1rem;
    right: -4rem;
    opacity: 1;
    border: none;
    padding: 1.8rem;
    background: url("../images/us-icon/icon-close.png") no-repeat center;
}

.ch-modal__title {
    margin: 3.5rem 0 2.8rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3rem;
    color: #343c47;
    text-align: center;
}

.ch-modal__row {
    height: 5rem;

    .ch-input-block__form-input_search-field-map .leaflet-pelias-expanded {
        width: 100% !important;
    }

    @media screen and (max-width: $break-phone) {
        margin-bottom: 1rem;
    }
}

.ch-modal-controls.ch-modal-controls_has-options {
    .ch-modal-controls__button {
        margin-bottom: 2.5rem;
    }
}

.ch-modal-controls__options {
    text-align: center;
}
