/* ========================   Modules/Page Content  ======================= */

.ch-page {
    height: calc(100vh - 75px);
    padding: 2rem 2.5rem 2rem 2.5rem;
    background-color: $primary-gray-color;
}

.ch-page-content {
    padding-top: 1.8rem;

    @media screen and (max-width: $break-phone) {
        padding-top: 0;
    }
}

.ch-page-heading {
    @media screen and (max-width: $break-phone) {
        position: relative;
    }
}

.ch-page-heading__select {
    height: 3.5rem;
    padding: .8rem 3rem .8rem 1.7rem;
    float: left;

    @media screen and (max-width: 700px) {
        padding: .8rem 1.7rem .8rem 1.7rem;
    }

    @media screen and (max-width: $break-phone) {
        float: none;
        font-size: 2.3rem;
        text-align: center;
    }

    .form-type__checkbox_empty-label {
        @media screen and (max-width: 700px) {
            position: absolute;
        }
    }
}

.ch-page-heading__actions_hidden {
    height: 3.9rem;
    padding: .7rem 1.8rem;
    display: inline-block;
    cursor: inherit;
}

.ch-page-heading__actions,
.ch-page-heading__actions__second {
    border: .1rem solid #757575;
    display: inline-block;
    cursor: pointer;

    &:hover {
        border-color: $primary-color-blue;

        .icon-remove {
            background: url("../images/us-icon/icon-recycle-bin-hover.svg") no-repeat center;

            @media screen and (max-width: $break-phone) {
                background: url("../images/us-icon/icon-recycle-bin-white.svg") no-repeat center;
            }
        }

        .icon-inbox-answer {
            background: url("../images/us-icon/icon-inbox-answer-hover.svg") no-repeat center;

            @media screen and (max-width: $break-phone) {
                background: url("../images/us-icon/icon-inbox-answer-white.svg") no-repeat center;
            }
        }

        .actions__text {
            color: #323a45;
        }
    }

    @media screen and (max-width: $break-phone) {
        height: 4.5rem;
        padding: 1.4rem 1.8rem;
        border: none;
        border-radius: .2rem;
        background-color: $primary-color-blue;
    }

  .icon {
      width: 1.6rem;
      height: 1.6rem;
      position: relative;
      top: .2rem;

      @media screen and (max-width: $break-phone) {
          width: 2rem;
          height: 1.8rem;
          top: .5rem;
          background-size: cover;
      }
  }

  .icon-remove {
      @media screen and (max-width: $break-phone) {
          background: url("../images/us-icon/icon-recycle-bin-white.svg") no-repeat center;
      }
  }

  .icon-inbox-answer {
      @media screen and (max-width: $break-phone) {
          background: url("../images/us-icon/icon-inbox-answer-white.svg") no-repeat center;
      }
  }

  .icon-download {
      border-left: .1rem solid #757575;
  }
}

.ch-mail-heading {
    .ch-page-heading__actions {
        @media screen and (max-width: $break-phone) {
            position: relative;
            top: 1rem;
        }
    }
}

.ch-page-heading__actions {
    padding: .8rem 1.8rem;
}

.ch-page-heading__actions__second {
    padding: .8rem 1.8rem;
    margin-left: -.4rem;

    .icon {
        width: 1.8rem;
        height: 1.6rem;

        @media screen and (max-width: $break-phone) {
            margin-left: .4rem;
            width: 2rem;
            height: 1.8rem;
        }
    }

    @media screen and (max-width: $break-phone) {
        margin-left: .4rem;
    }
}

.ch-page-heading__actions-container {
    display: inline-block;
    height: 4.5rem;

    @media screen and (max-width: $break-phone) {
        height: auto;
        position: absolute;
        right: 0;
        top: -.4rem;
    }
}

.actions__text {
    margin-left: .4rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: #757575;

    @media screen and (max-width: $break-phone) {
        display: none;
    }
}

.actions__text_position {
    margin-left: .4rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: #757575;
    position: relative;
    top: .7rem;

    @media screen and (max-width: $break-phone) {
        display: none;
    }
}

.ch-page-heading__search {
    float: right;
    @extend %flexbox;
    @include justify-content(flex-end);
}

.ch-page-heading__county-messages {

    padding-right: 1.5rem;
    padding-top: 1rem;

    span {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.4rem;
      color: #5b616b;
    }
}
