<div class="ch-page">
    <div class="ch-page-bg"></div>

    <div class="ch-page-heading">

        <div ng-if="mails.length > 0" class="ch-page-heading__select">
            <div class="form-type__checkbox_empty-label" title="{{'msapApp.mailBox.select-all-messages-in-list' | translate}}">
                <input id="selectAll" type="checkbox" ng-click="selectAll()" ng-model="allSelected">
                <label for="selectAll"></label>
            </div>
        </div>

        <div ng-if="mails.length == 0" class="ch-page-heading__select">
            <span translate="msapApp.mailBox.no-messages">NO MESSAGES</span>
        </div>

        <div class="ch-page-heading__actions-container">

            <div ng-if="!hasSelected()" class="ch-page-heading__actions_hidden">
            </div>


              <div ng-if="hasSelected()" class="ch-page-heading__actions" ng-click="deleteOrRestoreSelected()">
                  <span class="icon icon-remove" ></span>
                  <!-- <span class="actions__text">{{getActionName()}}</span> -->
              </div>

              <div ng-if="hasSelected()" class="ch-page-heading__actions__second" ng-click="deleteOrRestoreSelected()">
                  <span class="icon icon-inbox-answer" ></span>
              </div>
        </div>

        <div class="ch-page-heading__search">

            <div class="ch-page-heading__county-messages">
                <span>{{fromItem}}-{{toItem}} of {{totalItems}}</span>
            </div>

            <div class="ch-page-heading__pagination">
                <div class="ch-button-group">

                    <div class="ch-button-group__item">
                        <button type="button" class="ch-button-group__btn" ng-click="prevPage()">
                            <span class="icon icon-pagination-arrow-left" title="{{'msapApp.mailBox.open-previous-page' | translate}}"></span>
                        </button>
                    </div>

                    <div class="ch-button-group__item">
                        <button type="button" class="ch-button-group__btn_left-border" ng-click="nextPage()">
                            <span class="icon icon-pagination-arrow-right" title="{{'msapApp.mailBox.open-next-page' | translate}}"></span>
                        </button>
                    </div>

                </div>
            </div>

            <form class="form-type__search">

                <input id="search-field-small" type="search" name="search"
                       ng-model="searchString" class="form-type__search__input" placeholder="{{'msapApp.mailBox.search-in-messages' | translate}}" title="{{'msapApp.mailBox.provide-keywords' | translate}}">

                <button ng-click="filter()" type="submit"
                         class="form-type__search__button" title="{{'msapApp.mailBox.provide-keywords' | translate}}">
                   <span class="icon icon-search"></span>
                </button>

            </form>

        </div>

    </div>

    <ul class="ch-page-content">

        <li ng-repeat="mail in mails" ng-class="getUnreadMessageStyle(mail)"
            class="ch-content-item">

            <div class="ch-content-item__checkbox" ng-click="mail.selected = !mail.selected" >
                <div class="form-type__checkbox_empty-label" title="{{'msapApp.mailBox.select-message' | translate}}">
                    <input id="select{{mail.id}}" type="checkbox" name="select{{mail.id}}"
                           ng-model="mail.selected">
                    <label for="select{{mail.id}}"><span></span></label>
                </div>
            </div>

            <div ng-click="openMail(mail)">
                <div class="ch-content-item__person" title="{{'msapApp.mailBox.recipient-or-sender-of-the-message' | translate}}">
                    <span class="person-name">{{getTargetName(mail)}}</span>
                    <span ng-if="getUnreadMessageCount(mail) > 0" class="person-chain-count">({{getUnreadMessageCount(mail)}})</span>
                </div>

                <div class="ch-content-item__entry" title="{{'msapApp.mailBox.message-subject-and-body' | translate}}">
                    <span class="entry-name">{{mail.subject}}</span>
                    <span class="entry-main"> - {{mail.body}}</span>
                </div>

                <div class="ch-content-item__date">
                    <span class="item_date" title="Message date">{{mail | formatMailDate}}</span>
                </div>

                <div ng-if="mail.attachments.length > 0" class="ch-content-item__attachments">
                    <span class="icon icon-attachment"></span>
                </div>
            </div>
        </li>

    </ul>

</div>
