
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myLookupSpecialNeedTypeLabel" translate="msapApp.lookupSpecialNeedType.home.createOrEditLabel">Create or edit a LookupSpecialNeedType</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="lookupSpecialNeedType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.lookupSpecialNeedType.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="lookupSpecialNeedType.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="msapApp.lookupSpecialNeedType.groupCode" for="field_groupCode">GroupCode</label>
            <input type="number" class="form-control" name="groupCode" id="field_groupCode"
                    ng-model="lookupSpecialNeedType.groupCode"
                     />
        </div>

        <div class="form-group">
            <label translate="msapApp.lookupSpecialNeedType.provider" for="field_provider">provider</label>
            <select class="form-control" id="field_provider" name="provider" ng-model="lookupSpecialNeedType.provider" ng-options="provider as provider.id for provider in providers track by provider.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
