$primary-color-blue: #5395b2;
$primary-color-grey-light: #4b5b64;
$secondary-color-blue: #317491;
$secondary-color-grey-light: #55656d;
$primary-green-color: #719950;

$break-desktop-large: 1200px;
$break-desktop: 992px;
$break-tablet: 770px;
$break-phone: 640px;
