
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySupportedLanguageLabel" translate="msapApp.supportedLanguage.home.createOrEditLabel">Create or edit a SupportedLanguage</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="supportedLanguage.id" readonly />
        </div>

        <div class="form-group">
            <label translate="msapApp.supportedLanguage.provider" for="field_provider">provider</label>
            <select class="form-control" id="field_provider" name="provider" ng-model="supportedLanguage.provider" ng-options="provider as provider.id for provider in providers track by provider.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="msapApp.supportedLanguage.language" for="field_language">language</label>
            <select class="form-control" id="field_language" name="language" ng-model="supportedLanguage.language" ng-options="lookupLanguage as lookupLanguage.id for lookupLanguage in languages | orderBy:'id' track by lookupLanguage.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
