.ch-header {
    @media screen and (max-width: $break-phone) {
        height: 5rem;
    }
}

.ch-main-nav-list {
    @media screen and (max-width: $break-phone) {
        display: none;
    }
}

.ch-user-account-box__profile {
    @media screen and (max-width: $break-phone) {
        display: none;
    }
}

.ch-header__menu-mobile__btn {
    @media screen and (max-width: $break-phone) {
        display: inline-block;
    }
}

.ch-mobile-mailbox__nav {
    @media screen and (max-width: $break-phone) {
        display: flex;
    }
}
