<ul class="ch-main-nav-list">

    <li class="ch-main-nav-list__item" has-authority="CASE_WORKER">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link ch-ink-btn" ng-click="inkRipple()" ng-init = "inkRipple()" ui-sref="ch-inbox.messages({directory: 'inbox'})" ng-class="{'ch-main-nav-item__link_active': $state.includes('ch-inbox')}">
                <span class="icon icon-inbox ch-main-nav-item__icon"></span>
                <div class="ch-main-nav-item__text-bundle">
                    <span class="ch-main-nav-item__text" title="{{'global.inbox-menu-item-description' | translate}}"><span translate="global.inbox">Inbox</span></span>
                    <span ng-if="unreadInboxCount > 0" class="ch-main-nav-item__inbox-counter">{{unreadInboxCount}}</span>
                </div>
                <span class="ink"></span>
            </a>
        </div>
    </li>

    <li class="ch-main-nav-list__item">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link ch-ink-btn" ng-click="inkRipple()" ng-init = "inkRipple()" ui-sref="ch-facilities" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-providers ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text" title="{{'global.provider-menu-item-description' | translate}}"><span translate="global.providers">Providers</span></span>
                <span class="ink"></span>
            </a>
        </div>
    </li>

    <li class="ch-main-nav-list__item" has-authority="FOSTER_PARENT">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link ch-ink-btn" ng-click="inkRipple()" ng-init = "inkRipple()" ui-sref="ch-inbox.messages({directory: 'inbox'})" ng-class="{'ch-main-nav-item__link_active': $state.includes('ch-inbox')}">
                <span class="icon icon-inbox ch-main-nav-item__icon"></span>
                <div class="ch-main-nav-item__text-bundle">
                    <span class="ch-main-nav-item__text" title="{{'global.inbox-menu-item-description' | translate}}"><span translate="global.inbox">Inbox</span></span>
                    <span ng-if="unreadInboxCount > 0" class="ch-main-nav-item__inbox-counter">{{unreadInboxCount}}</span>
                </div>
                <span class="ink"></span>
            </a>
        </div>
    </li>

    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="metrics" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Metrics</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="user-management" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Users</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="tracker" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Tracker</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="health" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Health</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="configuration" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Configuration</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="audits" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Audits</span>
            </a>
        </div>
    </li>
    <li class="ch-main-nav-list__item" has-authority="ROLE_ADMIN">
        <div class="ch-main-nav-item">
            <a class="ch-main-nav-item__link" ui-sref="logs" ui-sref-active="ch-main-nav-item__link_active">
                <span class="icon icon-facilities ch-main-nav-item__icon"></span>
                <span class="ch-main-nav-item__text">Logs</span>
            </a>
        </div>
    </li>
</ul>
