<div class="ch-login">
    <div class="ch-login-bg">

      <div class="video-container">
          <video preload="auto" autoplay="" loop="" class="" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Hoola.jpg">
              <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Hoola.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/Hoola.webm" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
      </div>

    </div>

    <div class="ch-login__header">
        <div class="container-fluid">
            <div class="row clearfix rowfix">

                <div class="col-md-6">
                    <div class="ch-login__header__logo">
                      <a href=""><span class="logo-image"></span></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ch-login__header__actions">

                        <div class="ch-login__actions__language" ng-controller="LanguageController">
                            <a href="" ng-click="toggleLanguagePopup()" >{{getCurrentLanguageKey()}}</a>

                            <div class="ch-login-language__popup" ng-show="isLanguagePopupShown">
                                <div class="ch-login-language__popup-plane">
                                    <div class="ch-login-language__popup__info clearfix"
                                         ng-repeat="language in languages" ng-class="isCurrent(language) ? 'ch-language-popup__entry_active' : 'ch-language-popup__entry'">
                                        <p ng-click="clickLanguage(language)">
                                            {{language | findLanguageFromKey}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="ch-login-language__popup-bg" ng-show="isLanguagePopupShown" ng-click="isLanguagePopupShown = !isLanguagePopupShown"></div>

                        </div>

                        <div class="ch-header__subsection ch-header__subsection-user-account" ng-controller="MyProfileAndLogoutController">
                            <div class="ch-user-account-entry" show-user-account-popup has-any-authority="ROLE_ADMIN, CASE_WORKER, PARENT, FOSTER_PARENT">
                                <div class="ch-user-account-entry__dropdown" title="User profile">
                                    <button type="button" class="ch-user-account-entry__dropdown-btn" ng-click="toggleUserPopup()"
                                            ng-class="isUserAccountPopupShown ? 'ch-user-account-entry__dropdown-btn_expanded' : 'ch-user-account-entry__dropdown-btn_collapsed'">
                                        <span class="icon icon-user-account ch-user-account-entry__dropdown-icon ch-user-account-entry__dropdown-icon_user-account"></span>
                                    </button>
                                </div>
                                <div class="ch-user-account-entry__popup" ng-show="isUserAccountPopupShown" ng-mouseenter="clearAutoHideUserPopup()" ng-mouseleave="autoHideUserPopup()">
                                    <div class="ch-user-account-popup">
                                        <div class="ch-user-account-popup__info clearfix">
                                            <span class="icon  icon-user-accout-popup ch-user-account-popup__icon"></span>
                                            <p class="ch-user-account-popup__user-name">
                                                {{accountName}}
                                            </p>
                                            <p class="ch-user-account-popup__user-email">
                                                {{account.email}}
                                            </p>
                                        </div>
                                        <div class="ch-user-account-popup__controls">
                                            <div class="ch-user-account-popup__profile-btn">
                                                <button type="button" class="ch-option-btn" ui-sref="settings" ng-click="isAccountPopupVisible = false;">
                                                    <span class="ch-option-btn__text" title="Edit user profile">My Profile</span>
                                                </button>
                                            </div>
                                            <div class="ch-user-account-popup__exit-btn">
                                                <button type="button" class="ch-plane-btn" ng-click="logout()">
                                                    <span class="icon icon-user-account-exit ch-plane-btn__icon"></span>
                                                    <span class="ch-plane-btn__text" title="Sign out from you account">Sign out</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch-login__actions__new-account" ng-show="!hasAnyRole();">
                                <a href="" ng-click="openSignInModal();" translate="login.login">Login </a>
                                <a href="" ng-click="openRegisterModal();" translate="login.register">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ch-login__content">
      <div class="container-fluid ">
          <div class="row clearfix rowfix">

              <div class="col-md-12">
                  <div class="ch-login__content__text">
                      <div class="ch-login__content__text-title">
                          <h3 translate="login.landing-title">
                              We help you find the best <br> child care providers
                          </h3>
                      </div>
                  </div>

                  <div class="ch-login__content__description" translate="login.landing-description">
                      Use filters below and "Search" button to fast searching child care providers
                  </div>

              </div>
          </div>
      </div>
    </div>

    <div class="ch-login__search">
        <div class="ch-login__search__action flex-row">

            <leaflet style="display: none"></leaflet>

            <div class="ch-login__input flex-child-2">
                <div id="geoaddress" title="Search near your address"></div>
            </div>

            <div class="ch-login__select flex-child">
                <div class="ch-login__select-dropdown" title="Select the serves ages">
                    <button type="button" class="ch-login__select-dropdown__btn" ng-click="toggleFilterMenu('lookupAgeGroups');">
                          <span class=""
                                ng-if="filterMenuConfigs['lookupAgeGroups'].selectedCount == 0">
                              <span translate="login.age-group-dropdown.line1">Select age(s) of children</span>
                              <span class="ch-mobile-text__cut" translate="login.age-group-dropdown.line2">needing care</span>
                          </span>
                          <span class=""
                                ng-if="filterMenuConfigs['lookupAgeGroups'].selectedCount > 0"
                                translate="global.form.filters-selected"
                                translate-values="{selectedCount: filterMenuConfigs['lookupAgeGroups'].selectedCount}">
                              {{filterMenuConfigs['lookupAgeGroups'].selectedCount}} Selected
                          </span>
                    </button>
                    <div class="ch-multi-select-dropdown__popup" ng-show="filterMenuConfigs['lookupAgeGroups'].showList" ng-mouseleave="toggleFilterMenu('lookupAgeGroups', false);">
                        <ul class="ch-checkboxes-list">
                            <li class="ch-checkboxes-list__item" ng-repeat="ageGroup in lookupAgeGroups">
                                <div class="form-type__checkbox_empty-label">
                                    <input id="lookupAgeGroup_{{ageGroup.code}}" type="checkbox"
                                           ng-model="ageGroup.selected"
                                           ng-click="onFilterMenuItemClick('lookupAgeGroups', ageGroup.code);">
                                    <label for="lookupAgeGroup_{{ageGroup.code}}">{{'lookups.lookupAgeGroups.' + ageGroup.code | translate}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ch-login__action-box flex-child">
              <button type="button" class="ch-login__action-box__btn" ng-click="doSearch();">
                  <span class="ch-login__action-box__btn-text" translate="login.search">Search</span>
              </button>
            </div>
        </div>
    </div>

    <div class="ch-login__social">

        <div class="ch-login__social__container">

          <div class="container-fluid ">
              <div class="row clearfix rowfix">

                  <div class="col-md-7">
                      <div class="ch-login__social__container">
                          <h3 class="ch-login__social-title"><span>
                              EngagePoint MSAP</span></h3>
                          <div class="ch-login__social__pane">
                              <iframe id="youtube" src="https://www.youtube.com/embed/videoseries?list=PLe1kIXFxUigCVLbRPwzG4i7xxeHG1ZbAO" width="480" height="500"></iframe>

                          </div>
                      </div>
                  </div>

                  <div class="col-md-5">
                      <div class="ch-login__social__container">

                        <h3 class="ch-login__social-title"><span>
                           Mississippi Department of Human Services</span></h3>
                        <div class="ch-login__social__pane">
                          <a class="twitter-timeline" href="https://twitter.com/ms_dhs" data-widget-id="783512779122704384">Tweets by @MS_DHS</a>
                        </div>

                      </div>
                  </div>

              </div>
          </div>

        </div>

    </div>

    <div class="ch-login__footer">

      <div class="container-fluid ">
          <div class="row clearfix rowfix">
              <div class="col-md-12">

                  <div class="ch-login__footer__links">
                      <ul class="footer-links__list">
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Conditions of Use</a></li>
                        <li><a href="" ng-click="openPrivacyPolicyModal();">Privacy Policy</a></li>
                      </ul>
                  </div>

                  <div class="ch-login__footer__logo">
                    <a href="http://engagepoint.com" target="_blank"><span class="logo-image"></span></a>
                  </div>
              </div>
           </div>
        </div>

    </div>
</div>
