<div class="ch-login">
    <div class="ch-login-bg">

      <div class="video-container">
          <video preload="auto" autoplay="" loop="" class="" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Hoola.jpg">
              <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Hoola.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/Hoola.webm" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
      </div>

    </div>

    <div class="ch-login__header">
        <div class="container-fluid">
            <div class="row clearfix rowfix">

                <div class="col-md-6">
                    <div class="ch-login__header__logo">
                      <a href=""><span class="logo-image"></span></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="ch-login__header__actions">

                        <div class="ch-login__actions__language" ng-controller="LanguageController">
                            <a href="" ng-click="toggleLanguagePopup()">ENG</a>

                            <div class="ch-user-account-entry__popup" ng-show="isLanguagePopupShown">
                                <div class="ch-user-account-popup">
                                    <div class="ch-user-account-popup__info clearfix" ng-repeat="language in languages">
                                        <p ng-class="isCurrent(language) ? 'ch-language-popup__entry_active' : 'ch-language-popup__entry'" ng-click="clickLanguage(language)">
                                            {{language | findLanguageFromKey}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="ch-user-account-entry__popup-bg" ng-show="isLanguagePopupShown" ng-click="isLanguagePopupShown = !isLanguagePopupShown"></div>

                        </div>

                        <div class="ch-login__actions__new-account">
                            <a href="" ng-click="openSignInModal();" translate="login.create-an-account">SIGN OUT / SIGN IN</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ch-login__content">
      <div class="container-fluid ">
          <div class="row clearfix rowfix">

              <div class="col-md-12">
                  <div class="ch-login__content__text">
                      <div class="ch-login__content__text-title">
                          <h3>
                              We help you find the best <br> child care providers
                          </h3>
                      </div>
                  </div>

                  <div class="ch-login__delimiter"></div>

                  <div class="ch-login__content__description">
                      Use filters below and "Search" button to fast searching child care providers
                  </div>

              </div>

              <!-- <div class="col-md-4">

                  <div class="ch-login__alert-failed-login"
                       ng-show="isAuthenticationFailed()">
                      <h3>Failed to sign in!</h3>
                      <h4>Please check your credentials and try again.</h4>
                  </div>

                  <div class="ch-login__alert-failed-login"
                       ng-show="isNotActivated()">
                      <h3>Your account has not been activated yet!</h3>
                      <h4>Activation instructions were sent to your email. Please check your email and follow the instructions to activate your account.</h4>
                  </div>

                  <div class="ch-login__form">
                      <h3 class="ch-login__form__title" translate="login.title">Sign In</h3>

                      <form class="form" role="form" ng-submit="login($event)">
                          <div class="ch-login__form__group">
                              <label for="username" translate="login.form.username">Username</label>
                              <input type="text" class="form-control" id="username" placeholder="{{'login.form.username.placeholder' | translate}}" ng-model="username">
                          </div>

                          <div class="ch-login__form__group">
                              <label for="password" translate="login.form.password">Password</label>
                              <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                     ng-model="password">
                          </div>

                          <div class="ch-login__form__alert-link">
                              <a class="alert-link" href="#/reset/request" translate="login.password.forgot">Forgot Password?</a>
                          </div>

                          <button type="submit" class="ch-login__form__button-submit"
                                  translate="login.form.button">Sign In</button>
                      </form>
                  </div>

              </div> -->
          </div>
      </div>
    </div>

    <div class="ch-login__search">
        <div class="ch-login__search__action flex-row">

            <div class="ch-login__input flex-child-2">
                  <input type="search" name="name" value="" placeholder="Search near your address">
            </div>

            <div class="ch-login__select flex-child">

              <div class="ch-login__select-dropdown" title="Select the serves ages">
                  <button type="button" class="ch-login__select-dropdown__btn"
                          ng-click="typesConfig.showList = !typesConfig.showList;">
                      <span class="">Select age(s) of children needing care</span>
                  </button>

                  <div class="ch-login__select-dropdown__list" ng-show="typesConfig.showList" ng-mouseleave="typesConfig.showList = false">
                      <ul class="ch-login-dropdown-list" ng-click="typesConfig.showList = !typesConfig.showList;">
                          <li class="ch-login-dropdown-list__item">1-3 years</li>
                          <li class="ch-login-dropdown-list__item">4-8 years</li>
                          <li class="ch-login-dropdown-list__item">9-12 years</li>
                      </ul>
                  </div>

              </div>
            </div>

            <div class="ch-login__action-box flex-child">
              <button type="button" class="ch-login__action-box__btn">
                  <span class="ch-login__action-box__btn-text">Search</span>
              </button>
            </div>
        </div>
    </div>

    <div class="ch-login__social">

        <div class="ch-login__social__container">

          <div class="container-fluid ">
              <div class="row clearfix rowfix">

                  <div class="col-md-7">
                      <div class="ch-login__social__container">
                          <h3 class="ch-login__social-title"><span>
                              EngagePoint MSAP</span></h3>
                          <div class="ch-login__social__pane">
                              <iframe id="youtube" src="https://www.youtube.com/embed/videoseries?list=PLe1kIXFxUigCVLbRPwzG4i7xxeHG1ZbAO" width="480" height="500"></iframe>

                          </div>
                      </div>
                  </div>

                  <div class="col-md-5">
                      <div class="ch-login__social__container">

                        <h3 class="ch-login__social-title"><span>
                           Mississippi Department of Human Services</span></h3>
                        <div class="ch-login__social__pane">
                          <a class="twitter-timeline" href="https://twitter.com/ms_dhs" data-widget-id="738745796632383488">Tweets by @MS_DHS</a>
                        </div>

                      </div>
                  </div>

              </div>
          </div>

        </div>

    </div>

    <div class="ch-login__footer">

      <div class="container-fluid ">
          <div class="row clearfix rowfix">
              <div class="col-md-12">

                  <div class="ch-login__footer__links">
                      <ul class="footer-links__list">
                        <li><a href="http://www.chhs.ca.gov/Pages/Accessibility.aspx" target="_blank">Accessibility</a></li>
                        <li><a href="http://www.chhs.ca.gov/Pages/Conditions.aspx" target="_blank">Conditions of Use</a></li>
                        <li><a href="" ng-click="openPrivacyPolicyModal();">Privacy Policy</a></li>
                      </ul>
                  </div>

                  <div class="ch-login__footer__logo">
                    <a href="http://engagepoint.com" target="_blank"><span class="logo-image"></span></a>
                  </div>
              </div>
           </div>
        </div>

    </div>
</div>
